 div {
    background-color: rgb(219, 210, 74);
    color: navy;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
p {
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 50px;
    padding: 30px;
}
h2 {
    font-size: 25px;
    padding: 20px 20px;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    padding: 25px;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: wheat;
    text-align: center;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
    text-align: center;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}
section {
    text-align: center;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
fieldset {
    margin:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
img {
    margin:20px;
    max-width: 700px;
    max-height: 500px;
}
.table {
    background-color: wheat;
    text-align: center;
    color: navy;
    padding:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: navy;
    border-width: 2px;
}
tr {
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
thead {
    color: navy;
    font-size:40px;
    
}
.lead {
    color: navy;
    background-color: wheat;
}
.border {
    border-width: 2px;
    border-color: navy;
}
.back {
    background-color: wheat;
}
line {
    border-width: 200px;
    border-color: navy;
}

section#carousel > figure > img {
    display: none;
    margin: 0px auto;
    }
section#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}
section#carousel > figure > figcaption {
    display: none;
}
section#carousel > figure.visible > figcaption {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
